{% set items = model.items|default([]) %}
{% set num = items|length %}
{% set cols = num == 1 ? 'md:grid-cols-1' : (num == 2 ? 'md:grid-cols-2' : 'md:grid-cols-3') %}
{% set options = options is defined ? options : model.options %}

<flynt-component name="SectionIconItems" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} class="">
	<section class="tw-section">
		<div class="grid {{cols}} items-center gap-8 md:gap-10">
			{% for item in items %}
				{% include '@Components/ItemBox/index.twig' with { model: item, options: options } only %}
			{% endfor %}

		</div>
	</section>
</flynt-component>
