<div class="text-center">
	{% if model.icon %}
		<div class="flex justify-center items-center size-12 bg-gray-50 mx-auto dark:bg-neutral-800 dark:border-neutral-700">
			{% include '@Components/Common/_icon.twig' with { name: model.icon, class: 'shrink-0 size-5 text-gray-600 dark:text-neutral-400' } %}
		</div>
	{% endif %}
	<div class="mt-3">
		{% if model.title %}
			<div class="text-lg font-semibold text-gray-800 dark:text-white">{{model.title}}</div>
		{% endif %}
		{% if model.text %}
			<p class="mt-1 text-gray-600 dark:text-neutral-400">{{model.text}}</p>
		{% endif %}
	</div>
</div>
