{% set type = model.type %}
{% set item = {
	type: model.type,
	icon: model.icon,
	image: model.image,
	title: model.title,
	description: model.description,
	options: model.options
} %}
{% set actionButton = model.actionButton %}
{% set options = options is defined ? options : model.options %}


<div {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="flex flex-col bg-white border border-border rounded-xl p-4 md:p-6 dark:bg-dark-shade dark:border-border-dark {{ options.align == 'center' ? 'items-center text-center' : '' }}">
	{% include '@Components/ItemBox/index.twig' with { model: item } only %}
	{% if actionButton %}
		<div class="mt-2 md:mt-4">
			{% include '@Components/Button/index.twig' with { model: actionButton } only %}
		</div>
	{% endif %}
</div>
