{% set actionType = model.actionType ?? 'none' %}
{% set ctaButtons = model.ctaButtons %}
{% set gravityForm = model.gravityForm %}
{% set options = options is defined ? options : model.options %}
{% set align = options.align ?? 'center' %}

{% if actionType != 'none' %}
	<div class="gap-3 flex flex-col md:flex-row justify-start md:justify-center items-center {{align == 'left' ? 'md:justify-start'}}" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
		{% if actionType == 'buttons' %}
			{% if ctaButtons.primaryButton %}
				{% include '@Components/Button/index.twig' with { model: ctaButtons.primaryButton } only %}
			{% endif %}
			{% if ctaButtons.secondaryButton %}
				{% include '@Components/Button/index.twig' with { model: ctaButtons.secondaryButton, type: 'secondary' } only %}
			{% endif %}
		{% elseif actionType == 'form' and gravityForm %}
			<div class="w-full {{options.inlineForm ? 'max-w-2xl single-inline-form' : ''}}">
				{% set gravity_form_shortcode = '[gravityform id="' ~ gravityForm ~ '" title="false" description="false" ajax="true"]' %}
				{% apply shortcodes %}
				{{ gravity_form_shortcode }}
				{% endapply %}
			</div>
		{% endif %}
	</div>
{% endif %}

{# {% include '@Components/Common/_json.twig' with {value: model, varName: 'action'} %} #}
