{% set hubspotForm = model.hubspotForm %}
{% if hubspotForm %}
	<div class="inline-hubspot-form inline-hubspot-form-alt-button">
		{% if hubspotForm.editor is defined and hubspotForm.editor == 'new' %}
			{% include '@Components/BlockHubspotFormNew/index.twig' with { model: hubspotForm, options: {raw: true, transparent: true} } only %}
		{% else %}
			{% include '@Components/BlockHubspotFormOld/index.twig' with { model: hubspotForm, options: {raw: true, transparent: true} } only %}
		{% endif %}
	</div>
{% endif %}

{% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %}
