{% set portalId = model.portalId ?? portalId ?? model.portalID ?? model.portal_id %}
{% set formId = model.formId ?? formId ?? model.formID ?? model.form_id %}
{% set redirectRules = model.redirectRules ?? redirectRules ?? [] %}

<flynt-component name="BlockHubspotForm" load:on="visible">
  <div class="blockHubspotForm">
    <div class="blockHubspotForm__container js-hubspotForm"
      data-portal-id="{{ portalId }}"
      data-form-id="{{ formId }}"
      data-redirect-rules='{{ redirectRules|json_encode|e('html_attr') }}'></div>
  </div>
</flynt-component>
