{% set image = model.image %}
{% set options = options is defined ? options : model.options %}
{% set size = options.size ?? 'medium' %}

{% set sizeClass = {
  'small': 'size-12!',
  'medium': 'size-14!',
  'large': 'size-20!'
}[size] %}

<div {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }}>
	{% include '@Components/Common/_image.twig' with {
    model: image,
    class: 'inline-block ' ~ sizeClass ~ ' rounded-full'
  } only %}
</div>
