/* style dashicon on flexible component dropdown */
// stylelint-disable selector-no-qualifying-type
.acf-fc-popup a {

  &[data-layout='ReusableComponent'],
  &[data-layout='ReusableBlock'] {
    align-items: center;
    display: flex;

    i {
      margin-inline-start: 5px;
    }
  }
}