/* Style the tab */
.calc-tab-container {
  position: relative;
}

ul#ctabs {
  overflow: hidden;
  background: none;
  max-width: 160px;
  margin: 0 !important;
  border-right: 1px solid #eee;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  max-width: initial;
  position: static;
  border-bottom: 1px solid #ff6959;
  border-bottom: 1px solid #d0d6da;
  border-right: none;
  text-align: center;
}

#ctabs li {
  list-style: none;
  margin-bottom: 20px;
  padding: 0 !important;

  margin-bottom: 0px;
  min-width: 114px;
  max-width: 160px;
  display: inline-block;
}

#ctabs li:not(:last-of-type) {
  margin-right: 8px;
}

#ctabs li a {
  text-decoration: none;
  outline: none;
  background: none;
  background: var( --e-global-color-ae79764 );
  border: 1px solid #ff6959;
  border: 1px solid var( --e-global-color-accent );
  /* border-bottom: none; */
  display: block;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.15s ease-in-out;
  font-size: 15px;
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  margin-bottom: 20px
}

#ctabs li a .tab-title {
  color: #ff6959;
  color: var( --e-global-color-secondary );
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}
#ctabs li a .sub-fig {
  font-size: 80%;
}

#ctabs li a:hover, #ctabs li a.active {
  background-color: #ff6959;
  background-color: var( --e-global-color-secondary );
  color: white;
}

#ctabs li a.active .sub-fig{
  opacity: 0;
}

#ctabs li a:hover .tab-title, #ctabs li a.active .tab-title {
  color: white;
}

.tabcontent-container {
  min-height: 600px;
  margin-bottom: 20px;
}

.tabcontent {
  /* display: none; */
  opacity: 0;
  margin-left: calc(160px + 10px);
  padding: 10px;
  padding-left: 10px !important;
  border-left: 1px solid #eee;
  transition: opacity 0.2s ease-in-out;

  margin-left: 0;
  padding-left: 0 !important;
  padding: 30px 0 0;
  border-left: none;
}

.tabcontent.active {
  display: block;
  opacity: 1;
}

.clear-values {
  cursor: pointer;
  color: red;
  font-size: 13px;
  float: right;
  margin: 20px 5px;
}

.import-toggle,
.export-toggle,
.import-toggle-summary,
.export-toggle-summary  {
  cursor: pointer;
  color: #333333;
  font-size: 13px;
  float: right;
  margin: 20px 5px;
}

.export-summary {
  display: none !important;
}

.export-summary-hidden {
  display: none !important;
}

.export-summary-json, .export-summary-json-full {
  display: none;
}

.modal.show {
  background: rgba(0,0,0,0.5);
}
.modal-dialog {
  padding-top: 110px;
}
.modal-backdrop {
  display: none!important;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html .calc_block ul, body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html .calc_block ul {
  margin-left: 0 !important;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html .calc_block ul li, body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html .calc_block ul li {
  list-style: none!important;
}

div.calc_block {
  padding-top: 0px;
  padding-bottom: 20px;
}

.calc-heading {
  text-align: center;
}

.gform_body {
  justify-content: center;
}

.gform_wrapper ul.gform_fields {
  width: 100%;
}

#field_64_56 {
  margin-top: 0 !important;
}
 
.calc_block .button.gform_button, .next-button, .import-button, .import-button-summary {
  border-radius: 20px;
  text-shadow: none;
  outline: none !important;
}

.next-button {
  display: none !important;
  margin-top: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
} 

.tabs-link-small {
  margin-top: 0 !important;
}
.tabs-link-small a{
  font-size: 11px;
  text-decoration: underline;
}

.completion-block, .gform_footer {
  display: block !important;
}

/* onboarding */
body.onboarding #ctabs{
  display: none;
}
body.onboarding .next-button {
  display: block !important;
}

body.onboarding .completion-block, body.onboarding .gform_footer {
  display: none !important;
}
/* onboarding end */

.import-container {
  margin-bottom: 20px;
}

#calcTabs .import-section {
  display: none !important;
}

.entry-content > div.gform_wrapper {
  z-index: 10;
}

.calculator-output-hidden {
  display: none;
}

.outlookTab {
  display: none;
}

.production_outlook_total {
  /* display: block; */
}

.tab-arrow {
  padding: 6px;
  cursor: pointer;
}

.tab-arrow::after {
  content: '';
  display: inline-block;
  border: solid #717375;
  border-width: 0 3px 3px 0;
  vertical-align: middle;
  padding: 3px;
  
}

.tab-arrow:hover::after {
  border-color: var( --e-global-color-primary );
}

.tab-prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  float: left;
}

.tab-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right;
}

.tab-row-title {
  display: inline-block;
  vertical-align: middle;
  /* width: calc(100% - 20px); */
}