{% set url = model.url %}
{% set prefill = model.prefillFromQuery is defined ? model.prefillFromQuery : true %}
{% set height = 700 %}

<flynt-component name="BlockCalendlyEmbed" load:on="visible">
{% if url %}
<div class="blockCalendlyEmbed">
  <div id="calendly-container" class="js-calendlyWidget"
       data-url="{{ url }}"
       data-allow-prefill="{{ prefill ? '1' : '0' }}"
       style="min-width: 320px; height: {{ height }}px;"></div>
</div>
{% endif %}
</flynt-component>
