{% set heading = model.heading %}
{% set logos = model.logos|default([]) %}
{% set options = options is defined ? options : model.options %}
{% set logoCount = logos|length %}
{% set gridColsClass = {
  1: 'lg:grid-cols-1',
  2: 'lg:grid-cols-2',
  3: 'lg:grid-cols-3',
  4: 'lg:grid-cols-4',
  5: 'lg:grid-cols-5',
  6: 'lg:grid-cols-6',
  7: 'lg:grid-cols-7',
  8: 'lg:grid-cols-8'
}[logoCount]|default('lg:grid-cols-4') %}

<flynt-component name="SectionCompanyLogos" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} class="edge sand bg-shade dark:bg-dark">
	<section class="tw-section tw-section-gap flex flex-col gap-8 lg:gap-12">
		{% if heading %}
			{% include '@Components/Heading/index.twig' with { model: heading } only %}
		{% endif %}
		<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 {{ gridColsClass }} gap-8 items-center justify-center">
			{% for logo in logos %}
				<div class="flex justify-center items-center">
					{% include '@Components/Common/_image.twig' with {
						model: {
							src: logo.src,
							alt: logo.alt,
							width: logo.width|default(120),
							height: logo.height|default(48)
						},
						class: 'max-w-36 h-auto grayscale dark:grayscale-0 opacity-90 hover:opacity-100 transition'
					} only %}
				</div>
			{% endfor %}
		</div>
	</section>
</flynt-component>

{# {% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %} #}
