@layer base {
  /**
 * Typography
 */

  // Applies a consistent margin for most common elements.
  :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .paragraph, ul, ol, pre, table, figure, blockquote, form, fieldset, dl, address, details, hr, aside, video) {
    +* {
      // margin-block-start: var(--flow-space);
    }
  }

  body {
    background-color: var(--color-shade);
    border: none;
  }

  body,
  .paragraph {
    color: var(--color-text);
    font-family: var(--font-family-text);
    font-size: var(--font-size-body);
    font-weight: initial;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    --flow-space: 2.5rem;
    font-family: var(--font-family-heading);
    font-weight: 500;
    line-height: 1.3;
  }

  h1,
  .h1 {
    --flow-space: 3.75rem;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.15;

    @media (min-width: $tablet) {
      font-size: 3.75rem;
    }
  }

  h2,
  .h2 {
    font-size: 1.5rem;
    font-weight: 500;

    @media (min-width: $tablet) {
      font-size: 2.25rem;
    }
  }

  h3,
  .h3 {
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 500;

    @media (min-width: $tablet) {
      font-size: 1.75rem;
    }
  }

  h4,
  .h4 {
    font-size: 1.125rem;
    line-height: 1.4;

    @media (min-width: $tablet) {
      font-size: 1.5rem;
    }
  }

  h5,
  .h5 {
    font-size: 1.125rem;
    line-height: 1.5;

    @media (min-width: $tablet) {
      font-size: 1.375rem;
    }
  }

  h6,
  .h6 {
    color: var(--color-text-muted);
    font-size: 1.0625rem;
    line-height: 1.5;
  }

  a {
    color: var(--color-primary);
    text-underline-offset: 0.3ex;
  }

  hr {
    --flow-space: var(--component-spacing);
    border: 0;
    margin-block: var(--flow-space);
    margin-inline: auto;

    &::after {
      background-color: var(--color-border);
      block-size: 2px;
      content: "";
      display: block;
    }
  }

  kbd,
  code {
    background: var(--color-shade);
    border-radius: 4px;
    display: inline-block;
    font-size: 0.95em;
    padding-block: 0;
    padding-inline: 0.375em;
    word-break: break-word;
  }

  figcaption {
    color: var(--color-text-muted);
    font-size: var(--font-size-body-small);
    margin-block-start: 0.25rem;
  }

  .prose {

    blockquote,
    .blockquote {
      border-inline-start: 5px solid var(--color-primary);
      display: block;
      font-size: 1.44rem;
      font-style: normal;
      font-weight: 500;
      line-height: calc(1em + 0.75rem);
      margin-block: var(--flow-space);
      margin-inline: 2.5rem 0;
      padding-inline-start: 0.8rem;

      cite {
        color: var(--color-text-muted);
        display: block;
        font-size: var(--font-size-body);
        font-style: normal;
        margin-block-start: 0.25rem;
      }
    }
  }

  small {
    font-size: var(--font-size-body-small);
  }

  /**
 * Lists & Tables
 */

  ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    /* matches pl-5 */
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
  }

  :where(ul, ol):not([class]),
  :where(ul, ol).wp-block-list {
    --item-spacing: 0.66em;
    padding-inline-start: 1.5rem;

    li+li {
      margin-block-start: var(--item-spacing);
    }

    li {

      >ul,
      ol {
        --item-spacing: 0.33em;
        margin-block-start: var(--item-spacing);
      }
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;

    caption {
      caption-side: bottom;
      color: var(--color-text-muted);
      margin-block-start: calc(var(--flow-space) / 2);
      text-align: start;
    }

    td,
    th {
      padding-block: 0.9rem;
      padding-inline: 1rem;
      text-align: inherit;
      vertical-align: top;
    }

    th {
      color: var(--color-text-heading);
      font-weight: 500;
    }
  }

  /**
 * Forms
 */

  form {
    margin: 0;
  }

  fieldset {
    border: 0;
    padding: 0;
  }

  legend {
    color: var(--color-text);
    font-size: var(--font-size-body);
    font-weight: 600;
    padding: 0;
  }

  label {
    color: var(--color-text-muted);
    font-size: var(--font-size-body-small);
    font-weight: 500;
    margin-block-start: 0;
  }

  [type="tel"],
  [type="url"],
  [type="text"],
  [type="date"],
  [type="email"],
  [type="search"],
  [type="number"],
  [type="password"],
  textarea,
  select {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 0;
    caret-color: var(--color-text);
    // color: var(--color-text);
    // font-size: var(--font-size-body-small);
    max-inline-size: 100%;
    padding-block: 0.75rem;
    padding-inline: 0.625rem;
    transition: border-color 0.3s ease-in-out;

    &::placeholder {
      color: var(--color-border);
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }

    &:invalid {
      border-color: var(--color-error);
    }
  }

  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='none'%3E%3Crect width='38' height='38' fill='rgba(255, 255, 255, 0.7)' rx='19'/%3E%3Cpath stroke='rgba(48, 48, 48, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8.846 15.846 19 26l10.153-10.154'/%3E%3C/svg%3E");
    background-position: calc(100% - 0.75rem) center;
    background-repeat: no-repeat;
    background-size: 1.75rem;
    line-height: 1.5;
    padding-inline-end: 54px;
  }

  option {
    // Fix for Windows.
    color: initial;
  }

  textarea {
    inline-size: 100%;
    min-block-size: 150px;
    resize: vertical;
    vertical-align: top;
  }

  [type="checkbox"],
  [type="radio"] {
    accent-color: var(--color-primary);
    block-size: 20px;
    display: inline-block;
    inline-size: 20px;
    margin-block-start: 4px;
    margin-inline-end: 8px;
    vertical-align: top;

    +label {
      color: var(--color-text);
      display: inline-block;
      font: inherit;
      inline-size: calc(100% - 33px);
    }
  }

  /**
 * Helpers
 */

  flynt-component {
    display: block;
    position: relative;
  }

  .pageWrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100%;

    .admin-bar & {
      padding-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .wp-block-post-content>.alignfull {
    margin-inline: auto;
  }

  .scrollableTableWrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }

  // Class for text that should only be visible to screen readers.
  .visuallyHidden,
  .visuallyHidden-focusable {
    block-size: 1px;
    clip: rect(0, 0, 0, 0);
    inline-size: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    transition: none !important;
    white-space: nowrap;
  }

  .visuallyHidden-focusable {
    &:focus-visible {
      background-color: var(--color-light);
      block-size: auto;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      clip: auto;
      color: var(--color-text);
      font-size: 1rem;
      inline-size: auto;
      inset-block-start: 0;
      inset-inline-start: 0;
      outline-offset: -3px;
      padding-block: 0.75rem;
      padding-inline: 1rem;
      text-decoration: none;
      z-index: 100000;
    }
  }

  /**
 * Themes
 */

  // [data-theme] {
  //   background-color: var(--color-light);
  //   color: var(--color-text);
  // }

  /* Adds pointer cursor to buttons */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

.prose {
  line-height: 1.5;
}

$edge-height: 50px;

.tw-section {
  @apply max-w-7xl mx-auto py-8 md:py-10 lg:py-12 px-4 md:px-6 lg:px-8;
}

.tw-section-gap {
  @apply gap-8 md:gap-10 lg:gap-12;
}

.inner-tw-section {
  .tw-section {
    @apply px-0 py-0;
  }
}

flynt-component.sand[data-theme='light'] {
  background-image: url('./images/pattern.png');
  background-repeat: repeat;
  background-size: 264px 264px;
}

.mainContent,
#storybook-root {
  >flynt-component {

    // Top padding if previous component has a different theme
    // &[data-theme='light']+flynt-component[data-theme='dark']>.tw-section,
    &[data-theme='dark']+flynt-component[data-theme='light']>.tw-section {
      @apply pt-10 md:pt-14 lg:pt-24;
    }

    // Bottom padding if next component has a different theme
    // &[data-theme='dark']:has(+ flynt-component[data-theme='light'])>.tw-section,
    &[data-theme='light']:has(+ flynt-component[data-theme='dark'])>.tw-section {
      @apply pb-10 md:pb-14 lg:pb-24;
    }

    &.edge[data-theme='dark'] {
      @apply relative z-0;
      margin-bottom: $edge-height;

      &:not(:first-child) {
        margin-top: $edge-height;
      }

      &:not(:first-child)::before,
      &::after {
        @apply block absolute left-0 right-0 w-full -z-10;
        height: $edge-height;
        content: '';
        background: url('./images/bg-edge-mobile.png') repeat-x center;
        background-size: cover;

        @media (min-width: $tablet) {
          background: url('./images/bg-edge.png') repeat-x center;
        }
      }

      &::before {
        top: -$edge-height;
      }

      &::after {
        bottom: -$edge-height;
        transform: rotate(180deg);
      }

    }

    &.edge[data-theme='dark']+flynt-component.edge[data-theme='dark'] {
      margin-top: 0;

      &::before {
        display: none;

      }
    }

    &.edge[data-theme='dark']:has(+ flynt-component.edge[data-theme='dark']) {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }

  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flow-space);
    justify-content: center;
    list-style: none;
    padding: 0;
  }

}