@theme {
  --color-primary: hsla(12, 100%, 60%, 1);
  --color-text: hsla(0, 0%, 0%, 0.65);
  --color-text-muted: hsla(0, 0%, 19%, 0.8);
  --color-accent: hsla(176, 64%, 61%, 1);
  --color-heading: hsla(0, 0%, 0%, 0.88);
  --color-background: #FFFFFF;
  --color-dark-blue: hsla(209, 100%, 8%, 1);
  --color-dark: hsla(0, 0%, 4%, 1);
  --color-shade: #F5F8FA;
  --color-border: hsl(0, 0%, 90%);
  --color-border-secondary: hsl(0, 0%, 19%, 0.68);
  --color-error: hsla(359, 78%, 59%, 1);
  // --breakpoint-sm: $mobile;
  // --breakpoint-md: $tablet;
  // --breakpoint-lg: $large;
  // --breakpoint-xl: $desktop;
  // --breakpoint-2xl: $monitor;
}

// :root,
// [data-theme="reset"] {
// }

[data-theme="light"] {
  --color-background: #FFFFFF;
  --color-text: hsla(0, 0%, 0%, 0.65);
}

[data-theme="dark"] {
  --color-background: hsla(0, 0%, 4%, 1);
  --color-text: #fff;
}

:root {
  /**
   * FOUC can be reduced with good matching fallback font.
   * https://meowni.ca/font-style-matcher/ or
   * https://github.com/pixel-point/fontpie
   */
  --font-family-heading: 'Inter', 'Fallback', Arial;
  --font-family-text: 'Inter', 'Fallback', Arial;
  --font-size-body: 1rem;
  --font-size-body-small: 0.75rem;
  --flow-space: 1.5625rem;
  --column-gap: clamp(2.5rem, 2.5vw + 1.75rem, 3.75rem);

  --content-max-width: 700px;
  --content-max-width-wide: 900px;
  --content-max-width-full: 1200px;

  --box-spacing: clamp(1rem, 2.50vw + 0.25rem, 2.25rem);
  --container-spacing: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --component-spacing: clamp(3rem, 6.5vw + 1.05rem, 6.25rem);
}

// Breakpoints
$mobile: 40rem;
$tablet: 48rem;
$large: 64rem;
$desktop: 80rem;
$monitor: 96rem;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));