<div class="flex items-center justify-end gap-4">
	<a href="#" class="hover:opacity-75 focus:opacity-75">
		{% include '/Common/Partials/_icon.twig' with { name: 'facebook', ariaLabel: 'Facebook Icon', class: 'shrink-0 size-5 text-white/65' } %}
	</a>
	<a href="#" class="hover:opacity-75 focus:opacity-75">
		{% include '/Common/Partials/_icon.twig' with { name: 'instagram', ariaLabel: 'Instagram Icon', class: 'shrink-0 size-5 text-white/65' } %}
	</a>
	<a href="#" class="hover:opacity-75 focus:opacity-75">
		{% include '/Common/Partials/_icon.twig' with { name: 'linkedin', ariaLabel: 'LinkedIn Icon', class: 'shrink-0 size-5 text-white/65' } %}
	</a>
</div>
