{% if options.topBarAnnouncement %}
	<div class="flex flex-wrap lg:justify-start lg:flex-nowrap w-full bg-dark-blue">
		<div class="mx-auto grid max-w-7xl w-full grid-cols-8 gap-6 py-3 px-4 md:px-6 lg:px-8 text-sm">
			<div class="items-center col-span-8 lg:col-span-6 text-white text-center lg:text-start">
				{{ options.topBarAnnouncement|e('wp_kses_post') }}
			</div>
			<div class="items-center justify-end col-span-2 gap-6 hidden lg:block">
				{% include 'Partials/_socials.twig' only %}
			</div>
		</div>
	</div>
{% endif %}
