{% set backgroundImage = model.backgroundImage %}
{% set title = model.title %}
{% set contentHtml = model.contentHtml %}
{% set action = model.action %}
{% set extraItems = model.extraItems %}
{% set options = options is defined ? options : model.options %}

<flynt-component
	name="SectionHeroFull" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<!-- Hero -->
	<section class="relative isolate overflow-hidden dark:bg-dark">
		{% if backgroundImage %}
			<div class="absolute inset-0 -z-10">
				{% include '@Components/Common/_image.twig' with {
					model: backgroundImage,
					class: 'h-full w-full object-cover object-center',
					size: 'large'
				} only %}
				<div class="absolute inset-0 bg-black/40 dark:bg-black/60"></div>
			</div>
		{% endif %}
		<div class="max-w-7xl mx-auto py-6 md:py-12 lg:py-24 px-4 md:px-6 lg:px-8">
			<div class="max-w-4xl mx-auto flex flex-col justify-center md:text-center gap-6 my-10 md:my-12 lg:my-16">
				{% if title %}
					{% include '@Components/Heading/index.twig' with { model: {
						before: title.before ?? '',
						highlight: title.highlight ?? '',
						after: title.after ?? '',
						type: 'h1',
						description: contentHtml
					} } only %}
				{% endif %}

				{% include '@Components/Action/index.twig' with { model: action } only %}
			</div>
			<!-- End Buttons -->

			{% if extraItems != undefine and extraItems|length > 0 %}
				{% include '@Components/SectionFeatureItems/index.twig' with {model: extraItems, options: {theme: options.theme, align: 'center'}} %}
			{% endif %}

		</div>
	</section>
	<!-- End Hero -->

</flynt-component>
