{% set backgroundImage = model.backgroundImage %}
{% set mobileImage = model.mobileImage %}
{% set mobileImage = mobileImage ? mobileImage : backgroundImage %}
{% set heading = model.heading|default([]) %}
{% set heading = heading|merge({ type: 'h1' }) %}
{% set action = model.action %}
{% set breadcrumbs = model.breadcrumbs %}
{% set extraItems = model.extraItems %}
{% set options = options is defined ? options : model.options %}
{% set display = options.display ?? 'full' %}
{% set hasExtra = extraItems and extraItems|length > 0 %}


<flynt-component
	name="SectionHeroFull" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} class="edge bg-white dark:bg-dark">
	<!-- Hero -->
	<section class="relative isolate overflow-hidden">
		{% if display == 'full' and backgroundImage %}
			<div class="absolute inset-0 -z-10">
				{% include '@Components/Common/_image.twig' with {
					model: backgroundImage,
					class: 'h-full w-full object-cover object-center',
					size: 'large'
				} only %}
				<div class="absolute inset-0 bg-black/40 dark:bg-black/60 dark:bg-gradient-to-t to-30% from-black/90 to-transparent"></div>
			</div>
		{% endif %}
		<div class="tw-section py-0!">
			<div
				class="{{display == 'full' ? '' : 'grid md:grid-cols-12 gap-6 md:gap-10 lg:gap-12'}}">
				{# Content #}
				<div class="flex flex-col justify-center gap-6 md:gap-14 py-6 md:py-12 lg:py-18 xl:py-24 {{display == 'full' ? '' : 'md:col-span-7'}}">
					<div class="max-w-4xl mx-auto flex flex-col justify-center gap-6 md:gap-8 my-10 md:my-14 lg:my-16 {{display == 'full' ? 'xl:my-20 items-center'}}">
						{% if breadcrumbs %}
							{% include '@Components/Breadcrumbs/index.twig' with { model: breadcrumbs } only %}
						{% endif %}
						{% include '@Components/Heading/index.twig' with { model: heading, options: {align: display == 'full' ? 'center' : 'left'} } only %}
						{% include '@Components/Action/index.twig' with { model: action,  options: {align: display == 'full' ? 'center' : 'left'} } only %}

						{% if display != 'full' and mobileImage %}
							<div class="flex md:hidden justify-center items-end">
								{% include '@Components/Common/_image.twig' with {
              model: mobileImage,
              size: 'small',
							class: 'max-w-sm'
            } only %}
							</div>
						{% endif %}
					</div>

					{% if hasExtra %}
						<div class="inner-tw-section">
							{% include '@Components/SectionIconItems/index.twig' with {model: extraItems, options: {theme: options.theme, align: display == 'full' ? 'center' : 'left'}} %}
						</div>
					{% endif %}
				</div>

				{% if display != 'full' and backgroundImage %}
					<div class="hidden md:block relative isolate overflow-hidden md:col-span-5 mt-10">
						<div class="absolute inset-0 flex justify-center items-end">
							{% include '@Components/Common/_image.twig' with {
              model: backgroundImage,
              size: 'medium',
							class: 'object-contain! h-full object-bottom!'
            } only %}
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</section>
	<!-- End Hero -->

	{# {% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %} #}
</flynt-component>
