{% set backgroundImage = model.backgroundImage %}
{% set title = model.title %}
{% set contentHtml = model.contentHtml %}
{% set ctaType = model.ctaType %}
{% set ctaButtons = model.ctaButtons %}
{% set extraItems = model.extraItems %}
{% set options = options is defined ? options : model.options %}

<flynt-component
	name="SectionHeroFull" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<!-- Hero -->
	<div class="relative isolate overflow-hidden bg-testblue dark:bg-dark">
		{% if backgroundImage %}
			<div class="absolute inset-0 -z-10">
			 	{% include '@Components/Common/_image.twig' with {
					model: backgroundImage,
					class: 'h-full w-full object-cover object-center',
					size: 'large'
				} only %}
				<div class="absolute inset-0 bg-black/40 dark:bg-black/60"></div>
			</div>
		{% endif %}
		<div class="max-w-7xl mx-auto py-6 sm:py-12 lg:py-24 px-4 md:px-6 lg:px-8">
			<div class="max-w-4xl mx-auto flex flex-col justify-center sm:text-center gap-6 my-10 sm:my-12 lg:my-16">
				{% if title %}
					{% include '@Components/Heading/index.twig' with { model: {
						before: title.before ?? '',
						highlight: title.highlight ?? '',
						after: title.after ?? '',
						type: 'h1',
					} } only %}
				{% endif %}

				{% if contentHtml %}
					<div class="prose mx-auto prose-p:space-y-2 dark:text-text-dark" aria-describedby="hero-description" id="hero-description">
						{{ contentHtml|e('wp_kses_post') }}
					</div>
				{% endif %}

				<!-- Buttons -->
				<div class="gap-3 flex flex-col sm:flex-row justify-start sm:justify-center items-center">
					{% if ctaType == 'buttons' %}
						{% if ctaButtons.primaryButton %}
							{% include '@Components/Button/index.twig' with { model: ctaButtons.primaryButton } only %}
						{% endif %}
						{% if ctaButtons.secondaryButton %}
							{% include '@Components/Button/index.twig' with { model: ctaButtons.secondaryButton, type: 'secondary' } only %}
						{% endif %}
					{% elseif ctaType == 'form' and gravityForm %}
						<div class="w-full max-w-2xl">
							{% set gravity_form_shortcode = '[gravityform id="' ~ gravityForm ~ '" title="false" description="false" ajax="true"]' %}

							{% apply shortcodes %}
							{{ gravity_form_shortcode }}
							{% endapply %}
						</div>
					{% endif %}
				</div>
			</div>
			<!-- End Buttons -->

		{% if extraItems != undefine and extraItems|length > 0 %}
			{% include '@Components/SectionFeatureItems/index.twig' with {model: extraItems, options: {theme: options.theme, align: 'center'}} %}
		{% endif %}

		</div>
	</div>
	<!-- End Hero -->

</flynt-component>
