{% set num = posts|length %}
{% set options = options is defined ? options : model.options %}


<flynt-component name="GridPostsArchive" load:on="visible" {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="edge sand bg-shade dark:bg-dark">
	<section class="tw-section tw-section-gap flex flex-col gap-8 lg:gap-12">


		<div class="flex flex-col gap-4 items-center">
			{% if terms %}
				{% include 'Partials/_filter.twig' %}
			{% endif %}

			<div class="relative w-full md:max-w-md">
				<form class="searchForm" class="w-full" role="search" action="{{ bloginfo('url') }}" data-theme="reset">
					<div class="flex group">
						<label class="visuallyHidden" for="searchForm-input-text">Search</label>
						<input name="s" class="md:min-w-2xs bg-white dark:bg-shade-dark text-heading dark:text-white py-2 px-4 block w-full border border-border rounded-s-xl focus:z-10 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent focus:outline-none focus-visible:border-primary transition" id="searchForm-input-text" type="search" required placeholder="Search" value="{{ searchQuery }}">
						<button data-ref="" type="submit" class="py-2 px-3 items-center text-sm text-nowrap rounded-e-xl transition disabled:opacity-50 disabled:pointer-events-none shadow-xs text-center inline-flex border border-border bg-light text-heading hover:text-primary focus:text-primary -ms-px focus:outline-none focus:border-primary ">
							{% include '@Components/Common/_icon.twig' with { name: 'search', ariaLabel: 'Search Icon', class: 'shrink-0 size-4' } %}
						</button>
					</div>
				</form>
			</div>
		</div>


		{% if posts|length > 0 %}
			<div class="flex flex-col gap-6" data-ref="posts">
				{% for post in posts %}
					{% include '@Components/CardPost/index.twig' with { model: {
						title: post.title,
						description: post.excerpt.read_more(false),
						subtitle: post.categories|map(cat => cat.name)|join(', '),
						backgroundImage: post.thumbnail,
						actionButton: {
							title: 'Read More',
							url: post.link|e('esc_url'),
							type: 'secondary'
						},
				}, options: {
						theme: options.theme,
				} } only %}

				{% endfor %}
			</div>

		{% else %}
			<p class="posts-empty">No post found.</p>
		{% endif %}

		{% set pagination = posts.pagination %}
		{% if pagination.pages %}
			{% include 'Partials/_pagination.twig' %}
		{% endif %}
	</section>
	{# {% include '@Components/Common/_json.twig' with {value: posts, varName: 'posts'} %} #}
</flynt-component>
