{% set num = posts|length %}

{% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %}

<flynt-component name="GridPostsArchive" load:on="visible" {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="edge sand bg-shade dark:bg-dark">
	<section class="tw-section tw-section-gap flex flex-col gap-8 lg:gap-12">

		{% set html = isHome ? preContentHtml : description %}
		{% include '@Components/Heading/index.twig' with { model: {
      before: isHome ? 'Blog' : title,
      type: isHome ? 'h2' : 'h1',
      description: html,
    }, options: options } only %}

		{% if terms %}
			{% include 'Partials/_filter.twig' %}
		{% endif %}

		{% if posts|length > 0 %}
			<div class="grid md:grid-cols-3 gap-6" data-ref="posts">
				{% for post in posts %}
					{% include '@Components/CardImage/index.twig' with { model: {
                title: post.title,
                description: post.excerpt.read_more(false),
                subtitle: labels.readingTime|replace({'%d': post.content|readingtime}),
                backgroundImage: post.thumbnail,
                actionButton: {
                  title: labels.readMore,
                  url: post.link|e('esc_url'),
                  target: '_blank'
                },
            }, options: {
                align: 'left',
                display: 'imageTop',
                theme: options.theme,
            } } only %}
				{% endfor %}
			</div>

		{% else %}
			<p class="posts-empty">{{ labels.noPostsFound }}</p>
		{% endif %}

		{% set pagination = posts.pagination %}
		{% if pagination.pages %}
			{% include 'Partials/_pagination.twig' %}
		{% endif %}
	</section>
</flynt-component>
