{% set heading = model.heading %}
{% set cards = model.cards %}
{% set action = model.action %}
{% set options = options is defined ? options : model.options %}
{% set expandFirst = options.expandFirst|default(false) %}
{% set num = cards|length %}
{% set numGrid = expandFirst ? num - 1 : num %}
{% set cols = numGrid == 1 ? 'md:grid-cols-1' : (numGrid % 2 == 0 ? 'md:grid-cols-2' : 'md:grid-cols-3') %}

<flynt-component name="SectionFeatureCards" {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="edge sand bg-shade dark:bg-dark">
	<section class="tw-section tw-section-gap flex flex-col gap-8 lg:gap-12">
		{% if heading %}
			{% include '@Components/Heading/index.twig' with { model: heading, options: {align: 'center', size: 'narrow'} } only %}
		{% endif %}
		<div class="flex flex-col gap-6">
			{% if expandFirst and num > 0 %}
				<div class="max-w-5xl mx-auto">
					{% include '@Components/CardImage/index.twig' with { model: cards[0], options: options } only %}
				</div>
			{% endif %}
			{% if numGrid > 0 %}
				<div class="grid {{cols}} gap-6">
					{% for card in cards|slice(num - numGrid, num) %}
						{% include '@Components/CardImage/index.twig' with { model: card, options: options } only %}
					{% endfor %}
				</div>
			{% endif %}
		</div>

		{% include '@Components/Action/index.twig' with { model: action } only %}

	</section>
</flynt-component>
