{% set heading = model.heading %}
{% set cards = model.cards %}
{% set action = model.action %}
{% set options = options is defined ? options : model.options %}

<flynt-component name="SectionFeatureCards" {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="bg-shade dark:bg-dark">
	<section class="max-w-7xl mx-auto py-6 md:py-12 lg:py-24 px-4 md:px-6 lg:px-8">
		<div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
			{% if heading %}
				{% include '@Components/Heading/index.twig' with { model: heading, options: {align: 'center'} } only %}
			{% endif %}
		</div>

		<div class="grid md:grid-cols-3 gap-6 mb-10 lg:mb-14">
			{% for card in cards %}
				{% include '@Components/CardImage/index.twig' with { model: card, options: options } only %}
			{% endfor %}
		</div>

		{% include '@Components/Action/index.twig' with { model: action } only %}

	</section>
</flynt-component>
