{% set heading = model.heading %}
{% set cards = model.cards %}
{% set action = model.action %}
{% set options = options is defined ? options : model.options %}

<flynt-component name="SectionFeatureCards" {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="bg-shade dark:bg-dark">
	<section class="tw-section flex flex-col gap-6 lg:gap-10">
		<div class="max-w-2xl text-center mx-auto">
			{% if heading %}
				{% include '@Components/Heading/index.twig' with { model: heading, options: {align: 'center'} } only %}
			{% endif %}
		</div>

		<div class="grid md:grid-cols-3 gap-6">
			{% for card in cards %}
				{% include '@Components/CardImage/index.twig' with { model: card, options: options } only %}
			{% endfor %}
		</div>

		{% include '@Components/Action/index.twig' with { model: action } only %}

	</section>
</flynt-component>
